body{
 background-color: #212529
}
h3{
 font-family: Inknut Antiqua;
}

.logo{
    position: relative;
    width: 80px;
    border-radius: 110%;
    left: 200px;
}
.logoDesc{
    position: absolute;
    width: 80px;
    border-radius: 110%;
}

#sumIcon{
    margin-top: 7em;
    width: 120px;
    border-radius: 110%;
}
#nameUser{
    position: relative;
    left: 160px;
    top: -110px;
    font-size: 68px;
    font-family: Inknut Antiqua;
}

.imgCol{
    width: 33%;
}

.MasteryPoint{
    position: relative;
    left: 1.5em;
    font-family: Inknut Antiqua;
}

.descImg{
width: 100%;
}
#nameChamp{
    font-family: Inknut Antiqua;
    position: relative;
    top: 11em;
    left: 17em;
    font-weight: bolder;
}
#desc{
    font-family: Inknut Antiqua;
    top: 28em;
    left: 1em;
    font-size: 20px;
}

